@import url("https://p.typekit.net/p.css?s=1&k=xqs4alg&ht=tk&f=12560.12561.12562.12563.15488.15493.15494.15495.39347.39348.39349&a=15122170&app=typekit&e=css");

:root {
  --small: 0px;
  --medium: 640px;
  --large: 1024px;
}

.App {
  text-align: center;
}

.container-fluid {
     padding-left: 0;
     padding-right: 0;
}

p {
     font-family: itc-avant-garde-gothic-pro;
     font-weight: 300;
     font-style: normal;
     font-size: 16pt;
     color: #3D3D3D;
}


h1 {
  font-family: cubano;
}

h2 {
  font-family: cubano;
  color: #3D3D3D;
}

h3 {
  font-family: cubano-sharp;
  color: #3D3D3D;
}

h4 {
  font-family: cubano-sharp;
  color: #828282;
}

h5 {
     font-family: cubano-sharp;
     color: #5b5757;
}

h6 {
     font-family: cubano-sharp;
     color: #3d3d3d;
}

a, p a {
  font-family: itc-avant-garde-gothic-pro;
  color: #134E5B;
  text-decoration: none;
}

a:hover, p a {
     color: rgb(6, 23, 27);
     text-decoration: underline;
}

a.cta {
     font-family: cubano-sharp;
     color: #5EBDD3;
}

em {
     font-family: vag-rundschrift-d;
     font-style: italic;
     font-weight: 400;
}

p.white, h1.white, h2.white, h3.white, h4.white, a.white, em.white{
     color: #ffffff;
}

@media only screen and (min-width: 0) {
  h1 {
     font-size: 44pt;
     color: #5EBDD3;
  }
  
  h2 {
     font-size: 24pt;
  }
  
  h3 {
  font-size: 21pt;
  }

  h4 {
     font-size: 16pt;
  }

  h5 {
     font-size: 16pt;
  }

  h6 {
     font-size: 12pt;
     letter-spacing: 1px;
  }

  a.cta {
       font-size: 16pt;
  }

  em.hero {
     font-size: 30pt;
     color: #5EBDD3;
  }

  em.brand {
     font-size: 21pt;
  }

  em.statement {
     font-size: 18pt;
  }

}

@media only screen and (min-width: 640px) {
h1 {
  font-size: 54pt;
  color: #3d3d3d;
}

h2 {
     font-size: 32pt;
}

h3 {
     font-size: 24pt;
}

h4 {
     font-size: 21pt;
}

h5 {
     font-size: 18pt;
}

h6 {
     font-size: 15pt;
}

a.cta {
     font-size: 18pt;
}
em.hero {
     font-size: 38pt;
}

em.brand {
     font-size: 28pt;
}

em.statement {
     font-size: 21pt;
}

em.title {
     font-size: 18pt;

}

em.body {
     font-size: 14pt;
}

}

.btn {
  font-family: cubano, sans-serif;
  letter-spacing: 3px;
  color: #5EBDD3;
  border-radius: 10pt;
  border: solid 2px #5EBDD3;
  background-color: #ffffff;
  font-size: 14pt;
}

.btn:hover {
     color: #ffffff;
     background-color: #5EBDD3;
     border: solid 2px #5EBDD3;
}

.btn.blue {
     color: #ffffff;
     background-color: #5EBDD3;
     border-radius: 10pt;
     border: solid 2px #ffffff;
}

.btn.blue:hover {
     color: #5EBDD3;
     background-color: #ffffff;
     border: solid 2px #5EBDD3;
}

.btn.bar {
     color: #f7f7f7;
     border: none;
}

/*Div Attributes*/
div.sticky {
    position: -webkit-sticky;
    position: sticky; top: 200px;
    padding-left: 50px;
  }

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0;

}

.column {
  -ms-flex: 20%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.tileContainer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tileRow {
  padding-bottom: 50px;
}

.projectProgress {
  background-color: rgb(93, 154, 235);
}

.signupTabs{
  padding-top: 90px;
  padding-bottom: 300px;
}

.signupTab {
  background-color: #3b3b3b;
}

.signupTabLink {
  color: #f7f7f7;
}
.signupTab:hover{
  color: #77D7F9;
}

/* .projectDashboard {
  font-family: 'Do Hyeon', sans-serif;
}
.projectSummary {
  padding-right: 100px;;
  font-family: 'Do Hyeon', sans-serif;
  background-color: transparent;
  text-align: left;
  color: #3b3b3b;
  padding-bottom: 10px;
}

.projectJumbo {
  font-family: 'Do Hyeon', sans-serif;
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.projectTitle {
font-family: 'Do Hyeon', sans-serif;
letter-spacing: 8px;
background-color: transparent;
padding-bottom: 0px;
text-align: center;
position: -webkit-sticky;
position: sticky;
}
 */

/* .projectTitle p {
  color: #3b3b3b;
  letter-spacing: 3px;
  }

.headerCollapse a {
  vertical-align: middle;
}

.projectSummary h1 {
  padding-top: 40px;
  letter-spacing: 6px;
  color: #196d58;
}

.projectSummary h2 {
  letter-spacing: 6px;
}
.projectSummary h3 {
  letter-spacing: 6px;
}
.projectSummary p{
  font-family: 'Courier New', Courier, monospace;
} */
.projectActions {
  align-content: center;
  line-height: 10px;
}

.actionButtons {
  padding-top: 30px;
  text-align: center;
  background-color: transparent;
}

.actionButtons p {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

.projectTabs {
  align-content: center;
  position: -webkit-sticky;
}

.projectTab {
  letter-spacing: 3px;
  background-color: #f8f8f1;
}

.projectContent {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f8f8f1;
}

.socialButtons {
  height: 40px;
}

 .row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0;

}

.column {
  -ms-flex: 20%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.jumbo{
  margin: 0 auto;
  max-width: 70%;
}

.jumbo img{
margin: 0 auto;
margin-left: 30px;
max-width: 80%;
}