/*Div Attributes*/
div.sticky {
     position: -webkit-sticky;
     position: sticky; top: 200px;
     padding-left: 50px;
   }

ul, li{
     list-style: none;
     }
     
     .horizontalBar2 {
          position: absolute;
          height: 76px;
          text-align: center;
          display: block;
          background-color: #5EBDD3;
     }
     
     .horizontalBar3 {
          position: absolute;
          bottom: 70px;
          /* top: 20px; */
          height: 160px;
          text-align: center;
          display:block;
          background-color: #134E5B;
     }
     
     .horizontalBar4 {
          position: absolute;
          bottom: 0;
          height: 70px;
          text-align: center;
          display: block;
          background-color: #5EBDD3;
     }
     
     .horizontalBar4 button{
       height: 70px;
       width: 100%;
       border-radius: 0;
       border-style: none;
       user-select: none;
     }
     
     .horizontalBar4 button:hover{
       background-color: #5EBDD3;
     }
     
     .blurbContainer {
          text-align: center;
          vertical-align: middle;
          height: 100%;
          padding-bottom: 50px;
     }
     
     .jumbo{
          margin: 0 auto;
          max-width: 70%;
     }
     
     .jumbo img{
       margin: 0 auto;
       margin-left: 30px;
       max-width: 70%;
     }
     
     .section2Row {
       height: 100%;
       vertical-align: middle;
       display: table-cell;
     }
     
     .badgeRow.row{
       padding-top: 20px;
       vertical-align: middle;
       align-items: center;
     }
     
     .badgeRow img{
       margin: 25px;
       max-width: 60px;
       width: 80%;
     }
