@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     padding: 0;
     margin: 0;
}

*:focus {
     outline: none;
 }

body {
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}

.fp-tableCell {
     
}

.col{
     margin: 0 auto;
     justify-content: center;
     justify-items: center;
}

.container-fluid {
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}

.titleContainer {
     text-align: center;
     align-content: center;
     vertical-align: middle;
     padding: 0 0 1 0;
     margin-top: 50px;
     margin-bottom: 50px;
}

.titleContainer h1{
     letter-spacing: 30px;
     font-size: 4vw;
     color: #3d3d3d;
     font-family: 'Lato', sans-serif;
     margin: 0 auto;
     padding-bottom: 20px;
     padding-top: 60px;
     font-weight: 700;
}

.blurbContainer {
     text-align: center;
     vertical-align: middle;
}

.blurbContainer p {
     padding-top: 40px;
     display: inline;
     margin: 0 auto;
     font-size: 2.5vw;
     letter-spacing: 3px;
}

.jumbo{
     margin: 0 auto;
     max-width: 70%;
}

.horizontalBar {
     background-color: #f7f7f7;
     text-align: center;
     vertical-align: middle;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
}

.horizontalBar h1{
     color: #3d3d3d;
     font-size: 2vw;
     display: inline-block;
     margin: 66px auto;
     letter-spacing: 5px;
}

.infoContainer{
     background-color: #5EBDD3;
}

.grabber {
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}

.row {
     padding: 0 0 1 0;
     margin: 0 0 0 0;
}

.div row {
     padding: 0 0 1 0;
}
.grabber h1{
     margin: 0 auto;
     letter-spacing: 6px;
     color: #f7f7f7;
     font-size: 2.5vh;
     font-weight: 700;
     text-align: center;
}

.tile img {
     vertical-align: center;
     /* min-width: 100%;
     min-height: 200px;
     padding-top: 100%; */
     height: 20vw;
     width: 20vw;

   }
   
   .tile {
     background-color: transparent;
     border-radius: 40px 40px;
     border-color: #3d3d3d;
     border-style: solid;
     border-width: 5px;
     margin: 0 25px;
     align-self: center;
     height: 20vw;
     width: 20vw;
     /* margin-left: 25px; */
   }
   
   .tileContainer{
        padding-top: 75px;
        padding-bottom: 50px;
        margin: 0 auto;
   }

   
   .formContainer {
        margin-left: 4%;
        margin-right: 4%;
        /* margin-top: 2%;
        margin-bottom: 2%; */
        /* max-height: 80px; */
}

   .emailContainer {
        vertical-align: middle; 
        margin-bottom: 40px;
        margin: 11px auto;
   }

   .emailContainer input {
     align-self: center;
     margin-top: 100px;
     font-family: 'Lato', sans-serif;
     font-size: 150%;
     display: block;
     background-color: rgb(250, 241, 213);
     color: #3d3d3d;
     border-color: #3d3d3d;
     border-width: 4px;
     border-radius: 40 40 40 40;
     margin-bottom: 40px;
     text-align: center;
     border-style: solid;
     min-width: 100px;
     min-height: 50px;
     margin: 20px auto;
}

.emailContainer input:disabled {
     background-color: rgb(200, 192, 165);
}


.submitButton {
     /* margin: 0 auto; */
     margin-top: 30px;
     font-family: 'Lato', sans-serif;
     font-size: 150%;
     display: block;
     background-color: #F6E5AB;
     color: #3d3d3d;
     border-color: #3d3d3d;
     border-width: 3px;
     border-radius: 40 40 40 40;
     margin-bottom: 40px;
     min-width: 200px;
     min-height: 50px;
     margin: 30px auto;
}

.submitButton:hover {
     background-color: rgb(233, 138, 84);
     border-color: #3d3d3d;
     color: #3d3d3d;
}

.submitButton:disabled {
     background-color: rgb(233, 138, 84);
     border-color: #3d3d3d;
     color: #3d3d3d;
}