.formHeader {
     color: #3d3d3d;
     font-size: 14px;
     max-width: 300px;
     text-align: center;
     align-self: center;
     margin: 0 auto;
     margin-top: 20px;
}

.formButton {
     background-color: #5EBDD3;
     border-radius: 20px 20px;
     color: #f7f7f7;
}

.formButton:hover {
     background-color: rgb(74, 128, 173);
}

.form {
     padding-top: 30px;
     padding-bottom: 30px;
}